<form class="mb-4" autocomplete="off">
    <div class="form-group">
        <label asp-for="NewUser.Username">Username</label>
        <input asp-for="NewUser.Username" class="form-control" />
        <span asp-validation-for="NewUser.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewUser.Email">Email</label>
        <input asp-for="NewUser.Email" class="form-control" />
        <span asp-validation-for="NewUser.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewUser.Password">Password</label>
        <input asp-for="NewUser.Password" class="form-control" />
        <span asp-validation-for="NewUser.Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>