<div class="wrapper">
    <div class="wrapped-div">
        <div class="tab-header">
            <h2 @onclick="SwitchToLogin">Sign In</h2>
            <h2 @onclick="SwitchToRegister">Sign up</h2>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                @if (SignIn)
                {
                    <Login></Login>
                }
                else
                {
                    <Register></Register>
                }
            </div>
        </div>
    </div>
</div>