@page "/home"
@attribute [Authorize]
@inject NavigationManager navigationManager
@using Helpers

<h1>Hello, world!</h1>

Welcome to your new app.

@if (StaticInfo.UserBasicDetails != null){
    <p>Welcome @StaticInfo.UserBasicDetails.Username</p>
    <p>Id: @StaticInfo.UserBasicDetails.Id</p>
}