@page "/home"
@attribute [Authorize]
@inject NavigationManager navigationManager
@using Helpers

<h1>NoteCraft</h1>

Welcome to NoteCraft!

@if (StaticInfo.UserBasicDetails != null){
    <p>Welcome @StaticInfo.UserBasicDetails.Username</p>
    <p>Id: @StaticInfo.UserBasicDetails.Id</p>
}