@page "/notes"

<h3>Your Notes</h3>
<hr />

@if (UserNotes.Any())
{
    string currentTitle = "";
    <div class="row">
        @foreach (var note in UserNotes)
        {
            currentTitle = note.Title;
            <div class="card col-md-4 col-12">
                <div class="card-header">
                    <h5>@note.Title</h5>
                </div>
                <div class="card-body" style="@SetImportance(note.NoteImportance.ToString())">
                    <p class="card-title">
                        @note.Description
                    </p>
                </div>
                <div class="card-footer row">
                    <span class="add-btn oi oi-plus col-2" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#staticBackdrop" @onclick="() => Share_Note(note.Id)"></span>
                    <input class="btn btn-primary col-3" type="button" value="View" @onclick="() => Open(note.Id)">
                    <input class="btn btn-primary col-3" type="button" value="Edit" @onclick="() => Update_Note(note.Id)">
                    <input class="btn btn-danger col-3" type="button" value="Delete" @onclick="() => Delete_Note(note.Id)">
                </div>
            </div>
        }
    </div>

    <Confirm @ref="DeleteConfirmation" ConfirmationChanged="Confirm_Delete"
            ConfirmationMessage=@($"Are you sure you want to delete note titled {currentTitle}?")>
    </Confirm>

    <Share @ref="SharingDialog" SharingChanged="Confirm_Share">
    </Share>
}
else
{
    <h5>You currently have no notes</h5>
}